{% extends 'headerPage.html' %}

{% block content%}

    <h2>Upload Video for LIP to String Analysis</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predvideo">
  
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Video File Here:</label> 
 <input name="filePath" type="file"><br>
 <input type="submit" value="Submit" >
 <br><br>
 </div>

 
 <h3>The Text identified from the lip moment is</h3> 
 <br>
        <h2>{{t}}</h2>
 
 </div>
</form>
<br>


{% endblock %}